body{
    font-size: 15px;
    text-align: center;
    overflow-x: hidden;
}
.img1{
    background-image: url(../images/g_p.svg);
    height: 150px;
    width: 25%;
    margin-top: 5%;
    margin-left: -20%;
    background-repeat: no-repeat;
    background-size: auto;
    transform: rotate(130deg) translateX(-15%) translateY(66%);
}
.img2{
    background-image: url(../images/y_p.svg);
    height: 150px;
    width: 100%;
    margin-top: -15%;
    margin-left: 7%;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    z-index: -1;
}
.img3{
    height: 100%;
    width: 100%;
    margin-top: -55%;
    margin-left: 45%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: fixed;
    position: absolute;
    /* z-index: -1; */
    overflow: hidden;
}
.main{
    background-color: hsl(225, 20%, 96%);
    position: relative;
    z-index: 1;
    background-color: white;
    margin: 50px 0px;
    padding: 50px;
    box-shadow: 5px 5px 10px 10px #dbdada;
    margin-top: -130px;
}
.h1{
    font-size: 30px;
}
.card {
    margin-top: 1.5rem;
    box-shadow: 5px 5px 10px 10px #f1f1f1;
}
.card1{
    border-top: 3px solid  hsl(180, 62%, 55%);
}
.card2{
    border-top: 3px solid  hsl(0, 78%, 62%);
}
.card3{
    border-top: 3px solid  hsl(34, 97%, 64%);
}
.card4{
    border-top: 3px solid  hsl(212, 86%, 64%);
}
